.products {
  background-color: #eeeeee;
}

.products .avatar-big-box {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  height: 46px;
  margin-top: 83px;
  margin-right: 15px;
  align-items: center;
}
.products .avatar-big-box .avatar-big-box-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 820px;
}
.products .avatar-big-box .avatar-intro {
  width: 328px;
  height: 100%;
  font-weight: 600;
  font-size: 36px;
}

.products .avatar-big-box .avatar-search-bar {
  width: 366px;
  height: 32px;
  font-weight: 600;
  font-size: 36px;
  background-color: #ffffff;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  padding-left: 15px;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.products .avatar-big-box .avatar-search-btn {
  position: absolute;
  width: 106px;
  height: 32px;
  border-radius: 24px;
  left: 716px;
}

/* FILTER BUTTONS */
.products .dishes-filter-section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  height: 36.5px;
  margin-top: 62px;
  margin-right: 56px;
  margin-bottom: 40px;
  gap: 20px;
}

/* PRODUCTS CONTAINER */

.products .products-container {
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  height: auto;
  width: 1252px;
  margin-bottom: 10px;
}

.products .products-container .product-category-btns {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 25px;
}
/* PRODUCT CARDS */
.products .products-container .product-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* widthini autoga almashtirish kerak kardlarni qurib  bolgandan keyin */
  width: 1175px;
  height: auto;
  /* background-color: aqua; */
  justify-content: space-between;
}

.products .products-container .product-card-container .product-card {
  position: relative;
  width: 273px;
  height: 361px;
  /* background-color: cornflowerblue; */
  border-top-right-radius: 55px;
}

.products
  .products-container
  .product-card-container
  .product-card
  .product-card-image {
  position: relative;
  width: 273px;
  height: 275px;
  background-color: blueviolet;
  border-top-right-radius: 55px;
  /* oldim */
  overflow: hidden;
}
.products
  .products-container
  .product-card-container
  .product-card
  .product-card-image
  img {
  width: 273px;
  height: 275px;
  background-repeat: no-repeat;
  border-top-right-radius: 55px;
}

.products .product-card .product-card-info {
  text-align: center;
  padding: 0;
}

.products .product-card .product-card-info .product-name {
  height: 30px;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  margin-top: 18px;
}

.products .product-card .product-card-info .product-price-contsiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #e3c08d;
}

.products .product-card .product-card-info .product-price-contsiner p {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

.product-size-absolute {
  position: absolute;
  z-index: 1;
  width: 90px;
  height: 30px;
  background-color: #ff9200;
  margin-left: 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

/* NO DATA */
.product-card-container .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

/* Hover effects */
.image-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

.product-card-image:hover .image-hover-overlay {
  opacity: 1; /* show overlay on hover */
}

.hover-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 24px;
  width: 140px;
  margin-right: 17px;
}

/* Korzinka style */
.korzinka-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 46px;
  background-color: rgba(187, 47, 200, 0.6);
  border-radius: 10px;
  /* opacity: 0.5; */
  border: 2px solid white;
}

.korzinka-container img {
  max-width: 50%;
  max-height: 100%;
  display: block;
  opacity: 1.5;
}

/* BRANDS LOGO */

.products .brands-logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 630px;
  background-color: black;
  margin-top: 67px;
  align-items: center;
}

.products .brands-logo .brands-logo-intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  font-size: 36px;
  margin-top: 84px;
  margin-bottom: 58px;
  color: #e3c08d;
}

.products .brands-logo .brands-logo-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1300px;
  height: 351px;
  /* background-color: green; */
}

.products .brands-logo-images .brand-img-container {
  width: 259px;
  height: 350px;
  /* background-color: white; */
  border-radius: 20px;
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); */
  box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.6);
}
.products .brands-logo-images .brand-img-container img {
  width: 259px;
  height: 350px;
  padding: 5px;
}

/* OUR ADDRESS SECTION */

.address .address-area .title {
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  font-weight: 600;
  font-size: 36px;
}

.address .address-area iframe {
  border-left: none;
  margin-bottom: 89px;
  /* background-color: #eeeeee; */
}

/** ChosenProduct **/

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}

/* box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25); */
